RABBITMQ_NODE_PORT={{ hostvars[inventory_hostname].rabbitmq_port }}
RABBITMQ_NODENAME=rabbit{{ hostvars[inventory_hostname].server_num }}@mqnode{{ hostvars[inventory_hostname].server_num }}
RABBITMQ_SERVER_START_ARGS="-rabbitmq_management listener [{port,{{ hostvars[inventory_hostname].rabbitmq_web_port }}}] -setcookie XISSLNNFCLYGCSYJKJJA -kernel inet_dist_listen_min 50101 -kernel inet_dist_listen_max 50201"